/* 

---------------------------------------- BASE CSS ----------------------------------------

*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* src/styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: rgb(81, 101, 78); */
    /* background-color: #dbdbdb; */
    background-image: url('../assets/michaelangelo.jpg'); /* Path to your background image */
    background-size: cover;
    /* background-blend-mode: darken; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #00263b, #43170e);
    opacity: 0.7;
    z-index: -1; /* Ensure overlay is behind content */
}

/* 

---------------------------------------- SHARED CSS ----------------------------------------

*/

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items in the container */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Make the container fill the viewport height */
}

@keyframes fadeIn { /* Animation for landing page stylization */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* 

---------------------------------------- HOMEPAGE CSS ----------------------------------------

*/

.homepage-button {
    font-family: monospace;
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 30px;
    background-color: transparent;
    color: rgb(212, 211, 211);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: fadeIn 2s ease;
}

.homepage-button:hover {
    opacity: 50%;
}

/*

---------------------------------------- TITLE CSS ----------------------------------------

*/

.title {
    font-family: monospace;
    font-size: 40pt;
    text-align: left;
    position: fixed;
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin: 0;
    background: transparent;
    z-index: 1000;
    width: 100%;
    animation: fadeIn 2s ease;
}

/* 

---------------------------------------- INPUT FORM CSS ----------------------------------------

*/

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    background-color: rgba(0, 0, 0, 0.5); /* Set background color with transparency */
    padding: 30px;
    border-radius: 15px;
    width: 375px;
    height: 325px;
    box-sizing: border-box; /* Ensure padding is included in total height */
}

.form-label {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input-field {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.info-text {
    font-size: 18px;
    color: #b0aeae;
    margin-left: 8px;
}

.time-period-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.year-input-right {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8e44ad;
    border-radius: 5px;
    text-align: center;
    margin-right: 50px;
}

.year-input-left {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8e44ad;
    border-radius: 5px;
    text-align: center;
    margin-left: 50px;
}

.to-text {
    font-size: 16px;
    color: #ffffff;
}

.generate-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #014603;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-button:hover {
    background-color: #3d97ba;
}

/* 

---------------------------------------- ANALYSIS PAGE CSS ----------------------------------------

*/

/* Layout for Analysis Page */
.analysis-page-layout {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center; /* Center vertically */
    align-items: center;
    padding: 20px;
    gap: 20px;
}

/* Form Container on the Left */
.analysis-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 5px;
    border-radius: 15px;
    width: 300px;
    height: auto; /* Adjust height for better flexibility */
    box-sizing: border-box; /* Ensure padding is included in total height */
    background-color: rgba(0, 0, 0, 0.5); /* Set background color with transparency */
    gap: 10px; /* Adjust gap to control spacing between child elements */
}

.analysis-word-input {
    width: 60%;
    padding: 5px;
    font-size: 15px;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.analysis-time-period-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px; /* Reduce horizontal gap between date inputs */
    margin-top: -40px; /* Remove extra vertical margin */
    margin-bottom: 0px; /* Remove extra vertical margin */
}

.analysis-year-input-right {
    width: 20%;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #8e44ad;
    border-radius: 5px;
    text-align: center;
    margin-right: 50px;
}

.analysis-year-input-left {
    width: 20%;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #8e44ad;
    border-radius: 5px;
    text-align: center;
    margin-left: 50px;
}

.analysis-form-title {
    margin-bottom: -15px;
    margin-top: 0px;
    width: 90%;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.update-button {
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 15px;
    background-color: #014603;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #3d97ba;
}

/* Results Container on the Right */
.results-container {
    flex: 2;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Set background color with transparency */
    border-radius: 10px;
    width: 70vw; /* 60% of the viewport width */
    height: 80vh; /* 70% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Prevent it from exceeding the viewport width */
    max-height: 100%; /* Prevent it from exceeding the viewport height */
}

.results-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.current-data {
    display: flex;
    flex-direction: row; /* Ensures the child elements are displayed side by side */
    gap: 20px; /* Adds space between each <p> element */
    font-size:15px
}
.current-data p {
    margin: 0; /* Removes default margin from <p> tags */
}

.results-placeholder {
    flex: 1;
    width: 90%;
    height: auto;
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px dashed #ccc;
    color: #666;
    font-size: 1rem;
    text-align: center;
}